<!-- In items_list.html -->
{% extends 'base.html' %}

{% block content %}
{% for item in items %}
  <!-- Item display code -->
  {% if item.user_id == current_user.id %}
    <a href="{{ url_for('edit_item', item_id=item.id) }}">Edit</a>
    <a href="{{ url_for('delete_item', item_id=item.id) }}" onclick="return confirm('Are you sure?');">Delete</a>
  {% endif %}
  <div>Priority: {{ item.priority }}</div>
  <div>Category: {{ item.category }}</div>
  {% if item.image_url %}
      <img src="{{ item.image_url }}" alt="{{ item.description }}">
  {% endif %}
  <div>Item Description: {{ item.description }}</div>
  <div>Item Link: {{ item.link}}</div>
{% endfor %}
{% endblock %}